@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dongle:wght@300&family=Kalam:wght@300&family=Mochiy+Pop+P+One&family=Nunito&family=Poppins:wght@300&family=Press+Start+2P&family=Rubik+Bubbles&display=swap');

body
{
        padding: 0;
        margin: 0;
        color: white;
        background-image: url('background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
}

.game-background
{
        width: 100%;
        height: 100vh;
}

h1
{
        width: 70%;
        height: 10%;
        position: relative;
        font-family: 'Press Start 2P', cursive;
        color: rgb(226, 247, 255);
        text-shadow: 3px 3px rgba(21, 158, 193, 0.763);
        font-size: 45px;
        text-align: center;
}

.display-score
{
        width: 25%;
        height: 60%;
        position: absolute;
        font-family: 'Press Start 2P', cursive;
        right: 2%;
        top: 5%;
        background-color:  rgba(0, 0, 0, 0.354);
        box-shadow: 0 0 30px rgba(0, 0, 0);
}

.display-score h2
{
        width: 100%;
        position: relative;
        text-align: center;
        font-size: 30px;
        color: rgb(236, 250, 255);
}

.value
{
        width: 100%;
        position: relative;
        font-size: 1.7rem;
        color: rgb(226, 247, 255);
        text-align: center;
}

.start-button
{
        width: 70%;
        height: 10%;
        position: relative;
        color: rgb(191, 237, 255);
        background-color: transparent;
        text-align: center;
        margin-top: 65%;
        font-size: 30px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0);
        cursor: pointer;
        padding-top: 4%;
        margin-left: 15%;
}

.start-button:hover
{
        width: 70.5%;
        height: 10.5%;
        padding-top: 4%;
        background-color: rgba(255, 255, 255, 0.2);
        color: rgb(230, 248, 255);
}

.next-block 
{
        width: 90%;
        height: 50%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.1);
        margin: 5%;
}

.next-grid 
{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        left: 17.5%;
        width: 65%;
        height: 100%;
}

.next-grid div
{
        display: flex;
        flex-wrap: wrap;
        width: 33.33333333333%;
        height: 33.33333333333%;
        background-repeat: no-repeat;
        background-size: cover;
}

.Block 
{
	background-image: url(blue_block.png);
}

.Block2 
{
	background-image: url(purple_block.png);
}

.Block3 {
	background-image: url(green_block.png);
}

.block4 {
	background-image: url(navy_block.png);
}

.block5 {
	background-image: url(pink_block.png);
}

.end {
        position: absolute;
	background-color: #d8edea;
}

.rules 
{
        width: 25%;
        height: 28%;
        background-color: rgba(0, 0, 0, 0.354);
        box-shadow: 0 0 30px rgba(0, 0, 0);
        position: absolute;
        right: 2%;
        top: 65%;
        font-family: 'Press Start 2P', cursive;
        font-size: 12px;
        color: rgb(217, 244, 255)
}

.rules h2 
{
        text-align: center;
        font-size: 25px;
        padding: 10px;
}

.game {
        background-color: rgba(255, 255, 255, 0.05);
        box-shadow: 0 0 30px rgba(0, 0, 0);
        position: absolute;
	height: 85%;
	width: 70%;
        top: 13%;
        left: 1.25%;
}

.grid{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
}

.grid div{
        display: grid;
        width: 3.33333333%;
        height: 5%;
        background: no-repeat;
        background-size: cover;
}

.game-0ver
{
        position: absolute;
        font-family: 'Press Start 2P', cursive;
        font-size: 3rem;
        width: 100%;
        height: 100%;
        text-align: center;
        color: rgb(204, 241, 255);
        text-shadow: 3px 3px rgba(21, 158, 193, 0.763);
}